In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("graybook-sept2021.csv")
df

,Employee Name,Job Title,Tenure,Empl Class,Present FTE,Proposed FTE,Present Salary,Proposed Salary,College Code,College Name,Department Code,Department Name
0,"Gerstenecker, David G",DIR OF INFO TECHNOL,NaN,BA,1.0,1.0,"$104,388.24","$106,476.00",KL,"Agr, Consumer, & Env Sciences",348,ACES Info Tech & Cmc Svcs
1,"Henry, Joshua Keith",ASSOC DIR INFO TECHNOL,NaN,BA,1.0,1.0,"$79,285.62","$80,871.33",KL,"Agr, Consumer, & Env Sciences",348,ACES Info Tech & Cmc Svcs
2,"Johnston, Chad R",MANAGER OF SYSTEM SERVICES,NaN,BA,1.0,1.0,"$52,540.20","$53,591.00",KL,"Agr, Consumer, & Env Sciences",348,ACES Info Tech & Cmc Svcs
3,"Meyer, Donald L",SR NETWORK ANLYS,NaN,BA,1.0,1.0,"$87,802.18","$89,558.22",KL,"Agr, Consumer, & Env Sciences",348,ACES Info Tech & Cmc Svcs
4,"Schwartz, Sarah",COMM COORD,NaN,BA,1.0,1.0,"$38,984.68","$50,000.00",KL,"Agr, Consumer, & Env Sciences",521,ADM Institute for PHL
...,...,...,...,...,...,...,...,...,...,...,...,...
14734,"Garrick, Sean C","VC FOR DVSTY, EQUITY & INCL",NaN,BA,1.0,1.0,"$213,888.00","$219,235.20",NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14735,"Garrick, Sean C",Employee Total for All Jobs...,Employee Total for All Jobs...,Employee Total for All Jobs...,1.0,1.0,"$329,999.00","$338,248.98",NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14736,"Guerra Perez, Gioconda",EXEC ASSOC VC FOR DVSTY,NaN,BA,1.0,1.0,"$175,000.00","$178,500.00",NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14737,"VanDuyne, Adam Jareb",EXEC DIR FIN & ADMN,NaN,BA,1.0,1.0,"$110,000.00","$141,000.00",NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14738,"Wantland, Ross A",DIR OF CURR DEVL & EDUC,NaN,BA,1.0,1.0,"$93,000.00","$94,860.00",NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity

In [5]:
df["Present Salary"] = df["Present Salary"].replace('[\$,]', '', regex=True).astype(float)
df["Proposed Salary"] = df["Proposed Salary"].replace('[\$,]', '', regex=True).astype(float)

In [6]:
df

,Employee Name,Job Title,Tenure,Empl Class,Present FTE,Proposed FTE,Present Salary,Proposed Salary,College Code,College Name,Department Code,Department Name
0,"Gerstenecker, David G",DIR OF INFO TECHNOL,NaN,BA,1.0,1.0,104388.24,106476.00,KL,"Agr, Consumer, & Env Sciences",348,ACES Info Tech & Cmc Svcs
1,"Henry, Joshua Keith",ASSOC DIR INFO TECHNOL,NaN,BA,1.0,1.0,79285.62,80871.33,KL,"Agr, Consumer, & Env Sciences",348,ACES Info Tech & Cmc Svcs
2,"Johnston, Chad R",MANAGER OF SYSTEM SERVICES,NaN,BA,1.0,1.0,52540.20,53591.00,KL,"Agr, Consumer, & Env Sciences",348,ACES Info Tech & Cmc Svcs
3,"Meyer, Donald L",SR NETWORK ANLYS,NaN,BA,1.0,1.0,87802.18,89558.22,KL,"Agr, Consumer, & Env Sciences",348,ACES Info Tech & Cmc Svcs
4,"Schwartz, Sarah",COMM COORD,NaN,BA,1.0,1.0,38984.68,50000.00,KL,"Agr, Consumer, & Env Sciences",521,ADM Institute for PHL
...,...,...,...,...,...,...,...,...,...,...,...,...
14734,"Garrick, Sean C","VC FOR DVSTY, EQUITY & INCL",NaN,BA,1.0,1.0,213888.00,219235.20,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14735,"Garrick, Sean C",Employee Total for All Jobs...,Employee Total for All Jobs...,Employee Total for All Jobs...,1.0,1.0,329999.00,338248.98,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14736,"Guerra Perez, Gioconda",EXEC ASSOC VC FOR DVSTY,NaN,BA,1.0,1.0,175000.00,178500.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14737,"VanDuyne, Adam Jareb",EXEC DIR FIN & ADMN,NaN,BA,1.0,1.0,110000.00,141000.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14738,"Wantland, Ross A",DIR OF CURR DEVL & EDUC,NaN,BA,1.0,1.0,93000.00,94860.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity

In [7]:
df.to_csv("graybook-sept2021-clean.csv", index=False)